<p id="notice"><%= notice %></p>

<h1>Listing Walks</h1>

<table>
  <thead>
    <tr>
      <th>Walker name</th>
      <th>Time out</th>
      <th>Time in</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @walks.each do |walk| %>
      <tr>
        <td><%= walk.walker_name %></td>
        <td><%= walk.time_out %></td>
        <td><%= walk.time_in %></td>
        <td><%= link_to 'Show', walk %></td>
        <td><%= link_to 'Edit', edit_walk_path(walk) %></td>
        <td><%= link_to 'Destroy', walk, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Walk', new_walk_path %>
